@model CastListViewModel

<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th style="width:30px">#</th>
			<th style="width:100px">ImageUrl</th>
			<th style="width:300px">Name</th>
			<th style="width:300px">Imdb</th>
			<th style="width:70px">PlaceOfBirth</th>
			<th style="width:100px">Biography</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cast in Model.Casts)
		{
			<tr>
				<td>@cast.PersonId</td>
				<td> <img src="/persons/@cast.ImageUrl" width="80" /></td>
				<td>@cast.Name</td>
				<td>→<a href="@cast.Imdb" target="_blank" rel="noopener noreferrer"> Imdb/@cast.Name</a></td>
				<td>@cast.PlaceOfBirth</td>
				<td><a href="/persons/details/@cast.PersonId" class="btn btn-dark">Details</a></td>
			</tr>
		}
	</tbody>

</table>