@model List<Genre>


<p>
	<strong>🎬 MovieWeb çatısı altında, bu projenin arkasındaki ekip olarak sizlere hizmet vermekten mutluluk duyuyoruz.
</p>
<p>
	🎬 MovieWeb, sinemaseverlere en sevdikleri filmleri keşfetme imkanı sunan bir platformdur. Bizler, sinema tutkusunu
	kaliteli içeriklerle bir araya getirerek kullanıcılarımıza en iyi deneyimi yaşatmayı hedefliyoruz.
</p>
<p>
	🎬 MovieWeb olarak, her bir filmi detaylı bir şekilde inceleyip kullanıcılarımıza en doğru bilgileri sunmak için
	çaba harcıyoruz. Film posterlerini bir araya getirirken, her birinin kendi benzersiz hikayesini ve atmosferini
	yansıttığına inanıyoruz. Her filmi kapsamlı bir şekilde analiz ederek, 👥 kullanıcılarımızın doğru tercihler yapmalarına yardımcı olmayı amaçlıyoruz.
</p>
<p>
	Aynı zamanda, MovieWeb ekibi olarak sinema dünyasına olan tutkumuzu her zaman ön planda tutuyoruz. Her birimiz,
	farklı türlerdeki filmleri 📽️ araştırmayı ve keşfetmeyi seviyoruz. Bu tutkumuz, projemizi daha da ileriye taşımak için
	bizi motive ediyor.🎉
</p>
<p>
	📝 Eğer herhangi bir geri bildiriminiz veya sorunuz varsa, bizimle iletişime 💬 geçmekten çekinmeyin. Sizinle birlikte MovieWeb platformunu daha da geliştirmek için sabırsızlanıyoruz.
</p>
<p>
	🔍 Keyifli keşifler dileriz!<br>
	🌟 Saygılarımızla,<br>
	<a href="/home/index">MovieWeb</a> Ekibi
</p>



@section menu
{
	@* @await Html.PartialAsync("_menu", Model) *@
	@await Component.InvokeAsync("Genres")
}