@*-- Jumbotron alanı --*@
<div class="bg-light p-5" style="background-image: url(/img/background.jpg); background-size: 100% 270%; background-position: top;">
	<div class="container">
		<h1 class="display-4 text-white">🎬 Hoş Geldiniz! 🍿</h1>
		<p class="lead text-white">
			MovieWeb, film tutkunları için bir bilgi hazinesidir! 🎉
			<br />
			Siz de bu heyecan verici film yolculuğuna katılın ve her ziyaretinizde yeni şeyler keşfedin.🔍
			<br />
			🌟 Keyifli gezintiler! 🍿
		</p>
	</div>
</div>