<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<a href="/" class="navbar-brand">MovieWeb</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				@if (User.Identity!.IsAuthenticated)
				{
					<li class="nav-item">
						<a href="/movies/list" class="nav-link">Movies</a>
					</li>
					<li class="nav-item">
						<a href="/persons/directorlist" class="nav-link">Directors</a>
					</li>
					<li class="nav-item">
						<a href="/persons/castlist" class="nav-link">Casts</a>
					</li>
				}
				@if (User.Identity!.IsAuthenticated && User.IsInRole("admin"))
				{
					<li class="nav-item">
						<a href="/admin/moviecreate" class="nav-link">Create Movie</a>
					</li>
					<li class="nav-item">
						<a href="/admin/movielist" class="nav-link">Panel Movies</a>
					</li>
					<li class="nav-item">
						<a href="/admin/genrelist" class="nav-link">Panel Genres</a>
					</li>
					<li class="nav-item">
						<a href="/persons/personcreate" class="nav-link">Create Person</a>
					</li>
					<li class="nav-item">
						<a href="/persons/personlist" class="nav-link">Persons</a>
					</li>
					<li class="nav-item">
						<a href="/users/index" class="nav-link">Users</a>
					</li>
					<li class="nav-item">
						<a href="/roles/index" class="nav-link">Roles</a>
					</li>
				}

			</ul>

			<ul class="navbar-nav ms-auto">
				@if (User.Identity!.IsAuthenticated)
				{

					<li class="nav-item">
						<div class="badge text-bg-danger text-wrap" style="width: 6rem;">
							@User.Identity.Name
						</div>
					</li>
					<li class="nav-item">
						<a href="/account/logout" class="nav-link">Logout</a>
					</li>

				}
				else
				{
					<li class="nav-item">
						<a href="/account/login" class="nav-link">Login</a>
					</li>
					<li class="nav-item">
						<a href="/account/register" class="nav-link">Register</a>
					</li>
				}
			</ul>

			<div style="width: 20px;"></div>
			@if (User.Identity!.IsAuthenticated)
			{
				<form action="/movies/list" method="get" class="d-flex">
					<input type="text" name="q" placeholder="Film Ara" class="form-control me-2" />
					<button type="submit" class="btn btn-outline-light mr-0">Ara</button>
				</form>
			}

		</div>
	</div>
</nav>